* {
    margin: 0;
}


body {
    height: 100%;
    width: 100%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px #1f1f1f;
}

img {
    width: 100%;
}


main {
    background-image: url('img/forside_mobil.png');
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}



#planet1 {
    position: absolute;
    height: 11vw;
    width: 21vw;
    background-image: url(img/saturn.svg);
    background-size: 100%;
    top: 25vw;
    left: 10vw;
}

#planet2 {
    position: absolute;
    height: 9vw;
    width: 18vw;
    background-image: url(img/saturn2.svg);
    background-size: 100%;
    top: 35vw;
    left: 70vw;
}

#planet3 {
    position: absolute;
    height: 11vw;
    width: 21vw;
    background-image: url(img/planet.svg);
    background-size: 100%;
    top: 110vw;
    left: 82vw;
}

#planet4 {
    position: absolute;
    height: 11vw;
    width: 21vw;
    background-image: url(img/planet.svg);
    background-size: 100%;
    top: 145vw;
    left: 40vw;
}

#planet5 {
    position: absolute;
    height: 11vw;
    width: 21vw;
    background-image: url(img/planet.svg);
    background-size: 100%;
    top: 85vw;
    left: 0vw;
}

.hop {
    animation-name: hop_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes hop_kf {
    0% {
        top: 20vw;
    }

    100% {
        top: 15vw;
    }
}

.hop2 {
    animation-name: hop2_kf;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes hop2_kf {
    0% {
        top: 35vw;
    }

    100% {
        top: 30vw;
    }
}

.drej {
    animation-name: drej_kf;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes drej_kf {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}


.flyv {
    animation-name: flyv_kf;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}


@keyframes flyv_kf {
    0% {
        transform: translateX(-90vw) rotate(-360deg);
    }

    100% {
        transform: translateX(0vw);
    }
}



.logo {
    display: flex;
    height: 15vw;
    width: 30vw;

}

header {
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}


/* NAV https://www.youtube.com/watch?v=y4N-UeK0cJw brugt */
.menuknap {
    display: none;
}

nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 16px;
    left: -90%;
    transition: all .5s;
    list-style: none;
}

nav li {
    margin-bottom: 16px;
    margin-left: 16px;
}

nav a {
    color: #ffe6ad;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(31, 31, 31);
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover {
    color: #64be6a;
    transition: ease-in .1s;
}

.menuknap:checked ~ nav ul {
    left: 0;
}

.burger {
    position: absolute;
    font-size: 35px;
    color: #ffe6ad;
    text-shadow: 2px 2px 4px rgb(31, 31, 31);
    top: 0;
    right: 0;
    margin-right: 16px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menuknap:checked ~ nav a {
    opacity: 1;
}



h1 {
    color: #ffe6ad;
    text-align: center;
    font-size: 3rem;
    text-shadow: 3px 3px 4px #1f1f1f;
    margin: 0;
    padding: 0;


}

h2 {

    color: #ffe6ad;
    text-align: center;
    font-size: 1.5rem;
    text-shadow: 3px 3px 4px #1f1f1f;

    color: white;
    margin: 0;
    padding: 0;

}

p {
    color: white;
    font-size: 1rem;
    text-shadow: 2px 2px 4px #1f1f1f;
    text-align: center;
    padding: 10px;

}

footer {
    background-image: url(img/Baggrund.png);
    text-align: center;
    position: absolute;
    width: 100%;
    top: 162vw;
    margin-right: 2px;
    padding: 0;
}

footer p {
    font-size: 0.8rem;
    color: #ffe6ad;
}



/*DESKTOP*/

@media only screen and (min-width: 700px) {

    main {
        background-image: url('img/Forside.png');
        background-size: cover;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }

    .burger {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(700px, 3fr);
    }

    nav {
        display: flex;
        grid-column: 3/4;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        all: unset;
        list-style: none;
        display: flex;
    }

    nav li {
        margin-bottom: 0;
        margin-right: 16px;
    }

    nav a {
        opacity: 1;
    }

    #nav_ommig {
        position: absolute;
        top: 25vw;
        left: 2vw;
    }

    #nav_portfolio {
        position: absolute;
        top: 25vw;
        left: 85vw;
    }

    #planet1 {
        position: absolute;
        height: 8vw;
        width: 13vw;
        background-image: url(img/saturn.svg);
        background-size: 100%;
        top: 17vw;
        left: 10vw;
    }

    #planet2 {
        position: absolute;
        height: 8vw;
        width: 13vw;
        background-image: url(img/saturn2.svg);
        background-size: 100%;
        top: 25vw;
        left: 70vw;
    }

    #planet3 {
        position: absolute;
        height: 5vw;
        width: 8vw;
        background-image: url(img/planet.svg);
        background-size: 100%;
        top: 45vw;
        left: 88vw;
    }

    #planet4 {
        position: absolute;
        height: 5vw;
        width: 8vw;
        background-image: url(img/planet.svg);
        background-size: 100%;
        top: 10vw;
        left: 80vw;
    }

    #planet5 {
        position: absolute;
        height: 5vw;
        width: 8vw;
        background-image: url(img/planet.svg);
        background-size: 100%;
        top: 35vw;
        left: 15vw;
    }

    footer {
        background-image: url(img/Baggrund.png);
        text-align: center;
        position: absolute;
        width: 100%;
        top: 51vw;
        margin-right: 2px;
        padding: 0;
    }

    footer p {
        font-size: 0.8rem;
        color: #ffe6ad;
    }
}
