* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-image: url(img/Baggrund.png);
}



/* Nav */

header {
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.menuknap {
    display: none;
}

.logo {
    display: flex;
    height: 15vw;
    width: 30vw;
}

nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    padding: 16px;

    left: -90%;
    transition: all .5s;
    list-style: none;
}

nav li {
    margin-bottom: 16px;
    margin-left: 16px;
}

nav a {
    color: #ffe6ad;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 2px 2px 4px #1f1f1f;
    text-transform: uppercase;
}

nav a:hover {
    color: #64be6a;
    transition: ease-in .1s;
}

.menuknap:checked ~ nav ul {
    left: 0;
}

.burger {
    position: absolute;
    font-size: 35px;
    color: #ffe6ad;
    text-shadow: 2px 2px 4px rgb(31, 31, 31);
    top: 0;
    right: 0;
    margin-right: 16px;
    height: 100%;
    display: flex;
    align-items: center;
}

.menuknap:checked ~ nav a {
    opacity: 1;
}

section {
    padding: 20px;
    margin-top: 80px;
}

section img {
    width: 100%;
}

.background {
    width: 100%;
    height: 100%;
    position: absolute;
}

h1 {
    color: #ffe6ad;
    text-align: center;
    font-size: 3rem;
    text-shadow: 3px 3px 4px #1f1f1f;
    margin: 0;
    padding: 0;
    z-index: 1;
}

h2 {
    color: #ffe6ad;
    text-align: center;
    font-size: 2rem;
    text-shadow: 3px 3px 4px #1f1f1f;
    margin: 0;
    padding: 0;
    z-index: 1;
}

p {
    color: white;
    font-size: 22px;
    text-shadow: 2px 2px 4px #1f1f1f;
    text-align: center;
    z-index: 1;
    padding: 30px;
}


/* Desktop Version */

@media screen and (min-width: 800px) {
    .burger {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(700px, 3fr);
    }

    nav {
        display: flex;
        grid-column: 3/4;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        all: unset;
        list-style: none;
        display: flex;
    }

    nav li {
        margin-bottom: 0;
        margin-right: 16px;
    }

    nav a {
        opacity: 1;
    }

    section {
        column-gap: 2vw;
        grid-row-gap: 2vw;
        padding: 50px;
        margin-top: 130px;
    }

    #portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0;
        margin: 5px;
    }

    #portfolio web {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    #portfolio ux {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    #portfolio animation {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    #portfolio indhold {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
    }
}
